<div class="container">
    <input type="text" name="username" [(ngModel)]="username">
    <p>You entered : {{username}}</p>
 
    <!--adding ts code in line with click event-->
<!--    <button  [disabled]="isUserNameEmpty()"  class="btn btn-primary"
    (click)='username=""'>Add username</button> -->

    <!--calling method with click event-->
    <button  [disabled]="isUserNameEmpty()"  class="btn btn-primary"
    (click)="resetUserName()">Add username</button> 
    <!--Below ngclass keyname with - in between is allowed only b/w '' marks else use
    keyname without - (hyphen) as shown in next snippet-->
    <!-- <p *ngIf="!isUserNameEmpty(); else emptyUserTemplate"
    [ngStyle]="{ backgroundColor:getColor()}"
    [ngClass]="{'online-tex':!isUserNameEmpty()}"  
    >I am user: username</p>
    -->
    <p *ngIf="!isUserNameEmpty(); else emptyUserTemplate"
    [ngStyle]="{ backgroundColor:getColor()}"
    [ngClass]="{online:!isUserNameEmpty()}"  
    >I am user: username</p>
   
    <!--below template is shown when else condition above is executed-->
    <ng-template #emptyUserTemplate>
       <p [ngStyle]="{ backgroundColor:getColor()}"
    [ngClass]="{offline:isUserNameEmpty()}"  
       
       >No username exists</p>
    </ng-template>

    <button class="btn btn-secondary" (click)="addFruit()">Add Fruits</button>
    <p *ngFor="let fruit of fruits; let i = index" [innerText]="i+' '+fruit"></p>
</div>